#content {
    counter-reset: h1counter h2counter h3counter h4counter h5counter;

    h1, h2, h3, h4, h5 {
        position: relative;

        /* Extend the clickable area all the way to the right */
        a {
            display: block;
        }

        .left-of {
            position: absolute;
            left: -50pt;
            width: 50pt;
        }

        .link-icon {
            visibility: hidden;
            color: $color-link-light;
            font-size: 1.3rem;
            padding-right: 0.5em;
            text-shadow: 0 0 1px rgba(0,0,0,0.2);
        }

        &:hover .link-icon {
            visibility: visible;
        }

        .section-number {
            font-size: 50%;
            color: #444;
        }

        .anchor {
            position: absolute;
            top: -40pt;
        }

    }

    h1 {
        counter-reset: h2counter;
        .section-number:before {
            content: counter(h1counter) ". ";
            counter-increment: h1counter;
        }
        &.notoc .section-number:before {
            content: none;
            counter-increment: none;
        }
    }

    h1 ~ h2 .section-number:before {
        content: counter(h1counter) "."
                        counter(h2counter) ". ";
    }

    h2 {
        counter-reset: h3counter;
        .section-number:before {
            counter-increment: h2counter;
            content: counter(h2counter) ". ";
        }

        &.notoc .section-number:before {
            content: none;
            counter-increment: none;
        }
    }

    h1 ~ h2 ~ h3 .section-number:before {
        content: counter(h1counter) "."
                        counter(h2counter) "."
                        counter(h3counter) ". ";
    }

    h2 ~ h3 .section-number:before {
        content: counter(h2counter) "."
                        counter(h3counter) ". ";
    }

    h3 {
        counter-reset: h4counter;
        .section-number:before {
            content: counter(h3counter) ". ";
            counter-increment: h3counter;
        }
        &.notoc .section-number:before {
            content: none;
            counter-increment: none;
        }
    }

    h1 ~ h2 ~ h3 ~ h4 .section-number:before {
        content: counter(h1counter) "."
                        counter(h2counter) "."
                        counter(h3counter) "."
                        counter(h4counter) ". ";
    }

    h2 ~ h3 ~ h4 .section-number:before {
        content: counter(h2counter) "."
                        counter(h3counter) "."
                        counter(h4counter) ". ";
    }

    h3 ~ h4 .section-number:before {
        content: counter(h3counter) "."
                        counter(h4counter) ". ";
    }

    h4 {
        counter-reset: h5counter;
        .section-number:before {
            content: counter(h4counter) ". ";
            counter-increment: h4counter;
        }

        &.notoc .section-number:before {
            content: none;
            counter-increment: none;
        }
    }

    h1 ~ h2 ~ h3 ~ h4 ~ h5 .section-number:before {
        content: counter(h1counter) "."
                        counter(h2counter) "."
                        counter(h3counter) "."
                        counter(h4counter) "."
                        counter(h5counter) ". ";
    }

    h2 ~ h3 ~ h4 ~ h5 .section-number:before {
        content: counter(h2counter) "."
                        counter(h3counter) "."
                        counter(h4counter) "."
                        counter(h5counter) ". ";
    }

    h3 ~ h4 ~ h5 .section-number:before {
        content: counter(h3counter) "."
                        counter(h4counter) "."
                        counter(h5counter) ". ";
    }

    h4 ~ h5 .section-number:before {
        content: counter(h4counter) "."
                        counter(h5counter) ". ";
    }

    h5 {
        .section-number:before {
            content: counter(h5counter) ". ";
            counter-increment: h5counter;
        }

        &.notoc .section-number:before {
            content: none;
            counter-increment: none;
        }
    }
}

#toc {
    float:right;
    display:inline;
    margin: 0 0 1em 2em;

    h3 {
        margin: 0 2em;
    }

    .hr {
        width: 100%;
        margin: 5pt 0 2pt 0;
        border-top: 1px solid #aaa;
        box-shadow: 0 0 5px 0px rgba(0,0,0,0.1);
    }

    ul, ol {
        font-size: 90%;
        margin: 0;
        margin-left: 1em;
        counter-reset: item;

        li {
            list-style-type: none;
            position: relative;
            &:before {
                margin: 0;
                position: relative;
                left: 0em;
                counter-increment: item;
                content: counters(item,".") ". ";
            }
        }
    }
}
