$color-header:            #ECD078;
$color-meta:              #574D2C;
$color-title:             #282828;
$color-byline:            $color-title;
$color-navbar:            #452230;
$color-navbar-light:      #A0858F;
$color-navbar-text:       #e0e0e0;
$color-link:              #C02942;
$color-link-light:        #BB5C69;
$color-background:        #ffffff;
$color-figure-background: #f8f8f8;
$color-code-background:   #eee;
$color-text:              #202020;

$font-default:            "Crimson Text", "EB Garamond", serif;
$font-code:               "Inconsolata", monospace;

$font-title:              "Oswald";
$size-title:              400%;
$weight-title:            normal;

$font-byline:             $font-default;
$size-byline:             100%;
$weight-byline:           normal;

$font-meta:               "Josefin Sans", Arial, sans-serif;
$font-navbar:             "Quicksand", Arial, sans-serif;
$font-heading:            "Quicksand", Arial, sans-serif;

$content-width:           800px;
$figure-margin:           30px;
