$body$

<br />

<center>
  (<a id="link-to-top" href="$url$">To top</a>)
</center>

<br />

<h1 class="notoc">
  <span class="left-of">
    <span class="link-icon">
      <i class="fa fa-link"></i>
    </span>
    <span class="section-number">
    </span>
  </span>
  <span class="anchor" id="comments">
  </span>
  <a href="#comments">
    Comments
  </a>
</h1>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'br0ns';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
